<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.work.mapper.CasesMapper">
    
    <resultMap type="Cases" id="CasesResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="pic"    column="pic"    />
        <result property="createtime"    column="createtime"    />
        <result property="content"    column="content"    />
        <result property="status"    column="status"    />
    </resultMap>

    <select id="selectCasesPage" resultType="com.ruoyi.work.domain.Cases">
        SELECT * FROM cases
        where status = 1
        order by createtime desc
    </select>


</mapper>